.hidden {
  display: none;
}

#pomodoro-timer {
  font-size: 90px;
  padding-bottom: 40px;
  margin: -90px, -90px, -90px, -90px;
}

#pomodoro-clock {
  margin: 100px 100px 100px 100px;
}

#pomodoro-clock-task {
  margin-top: 20px;
  margin-bottom: 20px;
}

#pomodoro-clock-title {
  margin-top: 20px;
}

.pomodoro-input {
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
  padding-top: 20px;
}

#input-work-duration {
  margin-left: 5px;
}

#input-break-duration {
  margin-left: 5px;
}

#pomodoro-container {
  text-align: center;
}

#pomodoro-info {
  font-size: larger;
}

#pomodoro-sessions {
  font-size: large;
}