.header_bar {
    background: #132639;
}
header {
    background: #132639;
}
.nav_color {
    background: #132639;
    margin-left: 50px;
}
.feature_box {
    align-items: center;
    align-content: center;
    text-align: center;
    border-radius: 15px;
    border: none;
    border-width: 5px;
    background: rgb(33, 36, 48);
    padding: 5px;
    color: whitesmoke;
    border: dotted black;
    padding-bottom: 10px;
}
footer {
    background: rgb(33, 36, 48);
    color: cornsilk;
}
.in-button {
    border: none;
    background-color: crimson;
    color: white;
    border-radius: 5px;
    padding: 10px;

}
body {
    background: rgb(61, 66, 85);
}
.feature-box {
    background: rgb(33, 36, 48, 0.5);
    margin: 10px;
}
.indibox {
    margin: 50px;
    color: white;
    font-family: 'Arima Madurai';
    font-size: 18px;
}
hr {
    color: chartreuse;
}

.modal-header {
    background: rgb(54,54,79);
    background: linear-gradient(90deg, rgba(54,54,79,1) 34%, rgba(255,0,0,1) 75%, rgba(236,127,18,1) 95%);
    color: blanchedalmond;
}

.modal-body {
    background: rgb(229, 219, 241);
}

.form_custom {
    border-color: rgb(54,54,79);
}

.can_but, .in_but {
    padding: 15px;
    font-size: 18px;
    font-family: Arima Madurai;
}
.can_but {
    background-color: rgb(61, 66, 85);
}
.in_but {
    background-color: rgb(202, 29, 29);
}

A {text-decoration: none;}